/* * font family
font-family: Rock_Salt, sans-serif;
font-family: Nunito, sans-serif;


*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: Rock_Salt;
    src: url("../fonts/Rock_Salt/RockSalt-Regular.ttf");
}

@font-face {
    font-family: Nunito;
    src: url("../fonts/Nunito/Nunito-VariableFont_wght.ttf");
}


html {
    font-size: 16px;
    scroll-behavior: smooth;
    font-family: Nunito, sans-serif;

}

/* ************************* header ********************** */

header>p {
    font-family: Rock_Salt, sans-serif;
text-align: center;
}

header section {
/*    display: flex;
 */
 width: 600px;
 background-color: red;
}


.header__Bildüberschrift {
    display: block;
    color: #df8480;
    background-color: yellow;
    text-align: right;
    width: 25%;
    padding-right: 2vw;
    margin-left: 75vw;

}

.header__Bild {
    width: 100%;

}

