/* * font family
font-family: Rock_Salt, sans-serif;
font-family: Nunito, sans-serif;


*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: Rock_Salt;
    src: url("../fonts/Rock_Salt/RockSalt-Regular.ttf");
}

@font-face {
    font-family: Nunito;
    src: url("../fonts/Nunito/Nunito-VariableFont_wght.ttf");
}


html {
    font-size: 16px;
    scroll-behavior: smooth;
    font-family: Nunito, sans-serif;

}

/* ************************* header ********************** */

header>p {
    font-family: Rock_Salt, sans-serif;
text-align: center;
background-color: #e2e2e9;
}

header section {
/*    display: flex;
 */
 width: 600px;
 background-color: #e2e2e9;
}


.header__Bildüberschrift {
    display: block;
    color: #df8480;
    text-align: right;
    width: 25%;
    padding-right: 2vw;
    margin-left: 75vw;

}

.header__Bild {
    width: 100%;

}

main>p {background-color: #df8480;
color: white;
text-align: center;
height: 10vw;
padding-top: 3vw;
}

.main__section {
    sdisplay: flex;
    margin: 5vw 0 5vw 0;

}

.main_section_articel {
    width: 600px;
    text-align: center;

}

.main_section_articel_nummern{
    font-size: 48px;
    color: #df8480;
}

.main_section_articel_text{
    margin: 2vw 0 5vw 0;
}

.div_bild_HundeNapf{
    width: 600px;
    max-height: 141px;
    overflow: hidden;
    position: ce;
}

.bild__HundeNapf{
    max-width: 100%;
    image-rendering: auto;
}