/* * font family
font-family: Rock_Salt, sans-serif;
font-family: Nunito, sans-serif;


*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: Rock_Salt;
    src: url("../fonts/Rock_Salt/RockSalt-Regular.ttf");
}

@font-face {
    font-family: Nunito;
    src: url("../fonts/Nunito/Nunito-VariableFont_wght.ttf");
}


html {
    font-size: 16px;
    scroll-behavior: smooth;
    font-family: Nunito, sans-serif;
/*     width: 600px;
 */    /* * breite 600px auch bei   bild__HundeNapf   max-width: anpassen */



}

/* ************************* header ********************** */

header>p {
    font-family: Rock_Salt, sans-serif;
    text-align: center;
    background-color: #e2e2e9;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

header section {
    /*    display: flex;
 */
    background-color: #e2e2e9;
}


.header__Bildüberschrift {
    display: block;
    color: #df8480;
    text-align: right;
    width: 25%;
    margin-right: 5vw;
    margin-left: auto;

}

.header__Bild {
    width: 100%;
    margin-bottom: -1vh;
    /* *Rand zwischen section und Bild geht weg */
}

main>p {
    background-color: #df8480;
    color: white;
    text-align: center;
    height: 10vh;
    padding-top: 3.5vh;
}

.main__section {
    /*     sdisplay: flex;
 */
    margin: 5vw 0 5vw 0;

}

.main_section_articel {
    text-align: center;

}

.main_section_articel_nummern {
    font-size: 48px;
    color: #df8480;
}

.main_section_articel_text {
    margin: 2vw 0 5vw 0;
}

.articel__nummer3__umbruch__breite {
    margin: 2vw auto;
    /* *2vw, weil er sonst von .main_sec.._arti.._text überschrieben wird */
    width: 370px;
}

.div_bild_HundeNapf {
    max-height: 141px;
    overflow: hidden;

}

.bild__HundeNapf {
    max-width: 600px;
    /* *  breite mit ans html anpassen */
    object-fit: contain;
    object-position: 0% -110px;
    /* *erste px links rechts    2te px hoch runter */

}



/* *********************** Fressnapf *********************** */

.fressnapf__Bild__UmbebenderText{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    height: 40vh;
    background-image: url("../img/dog_bowl.png");
    background-repeat: no-repeat;
    background-position: center;
}

.fressnapf__Bild__UmbebenderText>p:nth-of-type(1){
    align-self:center;
    padding-top: 20px;
    padding-right: 200px;
    z-index: 0;

}

.fressnapf__Bild__UmbebenderText>p:nth-of-type(2){
    align-self:center;
    padding-left: 300px;

}

.fressnapf__Bild__UmbebenderText>p:nth-of-type(3){
    align-self:center;
    padding-bottom: 20px;
    padding-right: 200px;

}
.fressNapf__articel__p__unterTitel{
    text-align: center;
    width: 80%;                     /* *evtl. anpassen bei anderen Breite wegen Umbruch */
    margin: 0 auto 5vh auto;
    padding: 0 10vw;
    line-height: 1.5;

}


/* ************************* footer ********************** */

footer {
    background-color: #242424;
/*     position: sticky;
 */    bottom: 0px;              /* * angehefteter Footer-Bottom für unten  */

}

footer>p {
    color: white;
    text-align: center;
    margin: 5vh auto 0 auto;
    width: 60%;                     /* * evtl. anpassen bei anderen Breite wegen Umbruch */
    padding: 5vh 0;
}

/* * inkl Button Style */
.footer__button{
    display: block;
    margin:2vh auto 0;
    padding: 2vh;
    width: 80%;
    text-align: center;
    text-decoration: none;
    border-radius: 50rem;
}

.footer__button--style--white {
    background-color: white;
}

.footer__button--style--bunt{
    background-color: #df8480;
    color: white;
}

/* ******************************** Icons *************************+ */

.footer__icons__articel{
    display: flex;
    justify-content: space-around;
    width: 70%;         /* *evtl. anpassen bei anderen Breite wegen Umbruch */
    margin: 10vh auto 0;
}

@media only screen and (min-width:1201px){
html{
/*     width: 1201px;
 */}

header>p{
    background-color: white;
}

header section {
    display: flex;
}

.header__Bildüberschrift {
    width: 50vw;
    color: white;
    background-color: #df8480;
    margin-right: 0;
    padding-right: 1vw;
    font-size: 2.25rem;
     word-break: keep-all;
     padding-left: 30vw;

    
}

.header__Bild {
    width: 50vw;
    margin-bottom: 0;
    object-fit:cover;
    height: 75vh;   /* * hier die höhe ändern damit das Bild bzw. der Hund größer wird */
    overflow: hidden;
    background-color: #df8480;

}

}